version: '3.8'

services:
  # Backend Service
  backend:
    build: ./backend
    container_name: lankavibe-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - app-network

  # Frontend Service
  frontend:
    build: ./frontend
    container_name: lankavibe_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge